body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar{
    height: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    color:white;
}

.nav-items{
    height: 100%;
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
/*li{
    margin-left: 10px;
    margin-right: 10px;
}*/
.nav-items img{
    display: flex;
    height: 40px;
}

/*.nav-items > li {
    margin-left: 10px;
    margin-right: 10px;
    opacity: 0.8;
}*/

.nav-items > li {
    margin: 0 15px;
    opacity: 0.8;
}

.nav-items > li:hover{
    opacity: 1;
    cursor: pointer;
}


.notice {
    background-color: white;
    padding: 10px;
    font-size: 13px;
    text-align:center;
}

a{
    text-decoration: none;
    color: blue;
}
a:hover{
    text-decoration: underline;
}

.product-img img{
    width: 300px; 
}
.iPhone-13-pro{
    background-color: white;
}
.iPhone-13{
    background-color: blueviolet;
}
.watch{
    background-color: cornsilk;
}
.product{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    justify-items: center;
}
.title{
    grid-column: 1/-1;
    text-align: center;
    font-size: 25px;
}
.product-img{
    grid-column: 1/-1;
}
.iPhone-13-pro>.product-img>img{
    max-width: 650px;
}
.iPhone-13>.product-img>img{
    max-width: 900px;
}
.watch>.product-img>img{
    max-width: 1200px;
}
.product-img img{
    width: 100%;
}
.products{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.title{
    align-self: flex-end;
}

.notices{
    background-color: white;
    padding: 10px;
    font-size: 13px;
    text-align:center;
    display: flex;
    justify-content: center;
    /* margin-left: 100px; */
    
}


















